<div class="modal-overlay" id="noteModal">
    <div class="modal">
      <button class="close-btn" (click)="closeModal.emit()">×</button>
      <form [formGroup]="noteForm" (ngSubmit)="onSaveNote()">
        <h1>Add Note</h1>
        <div class="form-group">
          <label for="noteTitle">Title</label>
          <input type="text" id="noteTitle" name="title" required formControlName="title" />
        </div>
       @if(noteForm.invalid && noteForm.controls.title.errors?.['minlength']){
         <p>Title must have atleast 5 characters</p>
       }
        <div class="form-group">
          <label for="noteContent">Content</label>
          <textarea id="noteContent" name="content" rows="5" required formControlName="content"></textarea>
        </div>
         @if(noteForm.invalid && noteForm.controls.content.errors?.['minlength']){
         <p>Content must have atleast 5 characters</p>
       }
        <button type="submit">Save Note</button>

      </form>
    </div>
  </div>

  <style>
 input.ng-invalid, textarea.ng-invalid {
    background-color: red;
  }
 
  

  </style>